Package: nginx-dbg
Source: nginx
Version: 1.16.0-1~stretch
Architecture: amd64
Maintainer: Sergey Budnevitch <sb@nginx.com>
Installed-Size: 6129
Depends: nginx (= 1.16.0-1~stretch)
Section: debug
Priority: extra
Homepage: http://nginx.org
Description: nginx debug symbols
 This package contains the debugging symbols for nginx.
Build-Ids: 830366c721684d9cccf192ff90a185ee98822755 d9cd1661454a0b94562be55b1abc6a979e30cd85
